<%= form_with(model: prescription) do |form| %>
  <% if prescription.errors.any? %>
    <%= render partial: 'shared/record_errors', locals: {errors: prescription.errors} %>
  <% end %>

  <div class="field">
    <%= form.label "Номер", {:class => "lbl"} %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label "Ліки", {:class => "lbl"} %>
    <% list_prescriptions = Product.require_prescription.ordered_by_name.map {|key| [key.name, key.id]} %>
    <%= form.select :product_id, options_for_select(list_prescriptions, form.object.product_id) %>
  </div>

  <div class="field">
    <%= form.label "Термін придатності", {:class => "lbl"} %>
    <%= form.text_field :expiry_date, type: :date %>
  </div>

  <div class="actions">
    <%= form.submit "Зберегти" %>
  </div>
<% end %>
