<%= form_with(model: prescription) do |form| %>
  <% if prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
        <% prescription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :is_used %>
    <%= form.check_box :is_used %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.select :doctor_id, options_for_select(User.is_doctor.map {|key| [key.name, key.id]}, :doctor_id) %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.select :product_id, options_for_select(Product.all.map {|key| [key.name, key.id]}, :product_id) %>
  </div>

  <div class="field">
    <%= form.label :for_adult_children %>
    <%= form.select :for_adult_children, options_for_select(Prescription.for_adult_children.map {|key, value| [key.titleize, Prescription.for_adult_children.key(value)]}, :for_adult_children) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
