<%= provide :page_title, 'Рецепти' %>

<h1>Рецепти</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Термін придатності</th>
      <th>Використаний</th>
      <th>Лікар</th>
      <th>Ліки</th>
      <th>Для дорослих/дітей</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.number %></td>
        <td><%= date_fmt(prescription.expiry_date, true) %></td>
        <td><%= check_mark_fmt(prescription.is_used) %></td>
        <td><%= prescription.doctor_name %></td>
        <td><%= prescription.product_name %></td>
        <td><%= for_whom_fmt(prescription.for_adult_children) %></td>
        <td><%= link_to 'Показати', prescription %></td>
        <td><%= link_to 'Редагувати', edit_prescription_path(prescription) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Створити рецепт', new_prescription_path %> |
<%= link_to "Назад", :back %>