<%= provide :page_title, 'Рецепти' %>
<p id="notice"><%= notice %></p>

<h1>Рецепти</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Використаний</th>
      <th>Лікар</th>
      <th>Для дорослих/дітей</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.number %></td>
        <td><%= prescription.is_used %></td>
        <td><%= prescription.doctor_id %></td>
        <td><%= prescription.for_adult_children %></td>
        <td><%= link_to 'Show', prescription %></td>
        <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
        <td><%= link_to 'Destroy', prescription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription', new_prescription_path %>
