<%= provide :page_title, "Рецепт №#{@prescription.number}" %>

<p>
  <strong>Номер:</strong>
  <%= @prescription.number %>
</p>
<p>
  <strong>Термін придатності:</strong>
  <%= date_fmt(@prescription.expiry_date, true) %>
</p>

<p>
  <strong>Використаний:</strong>
  <%= bool_fmt(@prescription.is_used) %>
</p>

<p>
  <strong>Лікар:</strong>
  <%= @prescription.doctor_name %>
</p>

<p>
  <strong>Ліки:</strong>
  <%= @prescription.product_name %>
</p>

<p>
  <strong>Для дорослих/дітей:</strong>
  <%= for_whom_fmt(@prescription.for_adult_children) %>
</p>

<% if policy(@prescription).edit? %>
  <%= link_to 'Редагувати', edit_prescription_path(@prescription) %> |
<% end %>
<%= link_to 'Назад', prescriptions_path %>
