<%= provide :page_title, @prescription.number %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @prescription.number %>
</p>

<p>
  <strong>Використаний:</strong>
  <%= @prescription.is_used %>
</p>

<p>
  <strong>Лікар:</strong>
  <%= @prescription.doctor_id %>
</p>

<p>
  <strong>Для дорослих/дітей:</strong>
  <%= @prescription.for_adult_children %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
