<%= provide :page_title, "Надходження №#{@arrival.id}" %>
<h1>Редагування надходження<%= " №#{@arrival.id}" %></h1>

<%= render 'form', arrival: @arrival %>

<%= link_to 'Показати', @arrival %> |
<%= link_to 'Назад', arrivals_path %>
