<%= provide :page_title, 'Надходження' %>

<h1>Надходження</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Дата</th>
      <th>Ліки</th>
      <th>Кількість</th>
      <th>Ціна</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= arrival.id %></td>
        <td><%= date_fmt(arrival.created_at) %></td>
        <td><%= arrival.product_name %></td>
        <td><%= arrival.qty %></td>
        <td><%= price_fmt(arrival.price) %></td>
        <td><%= link_to 'Показати', arrival %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(Arrival).create? %>
  <%= link_to 'Створити надходження', new_arrival_path %> |
<% end %>
<%= link_to 'Назад', :back %>