<%= provide :page_title, "Надходження №#{@arrival.id}" %>

<p>
  <strong>Номер:</strong>
  <%= @arrival.id %>
</p>

<p>
  <strong>Дата:</strong>
  <%= date_fmt(@arrival.created_at) %>
</p>

<p>
  <strong>Ліки:</strong>
  <%= @arrival.product_name %>
</p>

<p>
  <strong>Кількість:</strong>
  <%= @arrival.qty %>
</p>

<p>
  <strong>Ціна:</strong>
  <%= price_fmt(@arrival.price) %>
</p>

<% if policy(@arrival).edit? %>
  <%= link_to 'Редагувати', edit_arrival_path(@arrival) %> |
<% end %>
<%= link_to 'Назад', arrivals_path %>
