<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <%= render partial: 'shared/record_errors', locals: {errors: user.errors} %>
  <% end %>

  <div class="field">
    <%= form.label 'Ім\'я', {:class => 'lbl'} %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, {:class => 'lbl'} %>
    <%= form.text_field :email, disabled: !user.new_record? %>
  </div>

  <div class="field">
    <%= form.label 'Роль', {:class => 'lbl'} %>
    <%= form.select :role, options_for_select(User.get_roles_array.map{|k, v| [role_fmt(v), v]}, user.role), {}, {:disabled => !current_user.is_admin?} %>
  </div>

  <div class="actions">
    <%= form.submit "Зберегти" %>
  </div>
<% end %>
