<%= provide :page_title, 'Користувачі' %>

<h1>Користувачі</h1>

<table>
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Роль</th>
      <th>Email</th>
      <th>Дата реєстрації</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= role_fmt(user.role) %></td>
        <td><%= user.email %></td>
        <td><%= date_fmt(user.created_at) %></td>
        <td><%= link_to 'Показати', user %></td>
        <td><%= link_to 'Редагувати', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<% data = User.group(:role).count; prepared_data = User.get_roles_array.collect{|v| [v[0], data[v[1]]]} %>
<%= pie_chart prepared_data, donut: true %>
