<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="<%= asset_path('drugs.png') %>"
          class="me-2"
          height="20"
          alt="PharmacyRi2022 Logo"
          loading="lazy"
          />
        <small>PharmacyRi2022</small>
      </a>
      <% if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.email %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
      <% end %>
    </div>
  </nav>
</header>