<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <%= render partial: 'shared/record_errors', locals: {errors: order.errors} %>
  <% end %>

  <% if !order.new_record? %>
  <div class="field">
    <%= form.label "Статус", {:class => "lbl"} %>
    <%= form.select :order_status_id, options_for_select(OrderStatus.all.map {|key| [key.name, key.id]}, form.object.order_status_id) %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label "Коментар", {:class => "lbl"} %>
    <%= form.text_field :comment, :value => (!form.object.comment.empty? ? form.object.comment : '') %>
  </div>

  <hr>

  <div class="group">
    <fieldset>
      <legend>Ліки:</legend>
      <%= form.fields_for :order_details do |details_form| %>
        <%= render "order_detail_fields", f: details_form %>
      <% end %>
      <%= link_to_add_fields "Додати", form, :order_details %>
    </fieldset>
  </div>

  <div class="actions">
    <%= form.submit "Зберeгти" %>
  </div>
<% end %>