<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="group">
    <fieldset>
      <legend>Details:</legend>
      <%= form.fields_for :order_details do |details_form| %>
        <%= render "order_detail_fields", f: details_form %>
      <% end %>
      <%= link_to_add_fields "Add Product", form, :order_details %>
    </fieldset>
    <%#= form.fields_for :order_details do |f| %>
      <%# render 'detail_fields', f: f %>
    <%#= end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
