<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class="field">
    <%= f.label "Назва ліків", {:class => 'lbl'} %>
    <% product_list = Product.all.map {|key| [key.name, key.id]} %>
    <% product_list.unshift(['-- Виберіть ліки --', 0]) %>
    <%= f.select :product_id, options_for_select(product_list, f.object.product_id) %>
  </div>
  <div class="field">
    <%= f.label "Кількість", {:class => 'lbl'} %>
    <%= f.number_field :qty, value: f.object.qty || 1, step: 1 %>
  </div class="field">
  <div class="field">
    <%= f.label "Ціна", {:class => 'lbl'} %>
    <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any, disabled: !true %>
  </div>
  <div class="field">
    <%= f.label "Номер рецепта", {:class => 'lbl'} %>
    <%= f.text_field :prescription_number %>
  </div>
  <div class="field">
    <%= link_to "Видалити", '#', class: "remove_fields" %>
  </div>
</div>
