<%= provide :page_title, "Замовлення №#{@order.id}" %>
<h1>Редагування замовлення<%= " №#{@order.id}" if !@order.new_record? %></h1>

<%= render 'form', order: @order %>

<%= link_to 'Показати', @order %> |
<%= link_to 'Назад', orders_path %>
