<%= provide :page_title, 'Закази' %>
<p id="notice"><%= notice %></p>

<h1>Закази</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Автор</th>
      <th>Статус</th>
      <th>Сума</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.name %></td>
        <td><%= order.order_status_id %></td>
        <% # Problem: can't use this statement: order.order_status.name %>
        <td><%= order.amount %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
