<%= provide :page_title, 'Замовлення' %>

<h1>Замовлення</h1>
<% if current_user.is_pharmacist? %>
  <h2>Підготовлені</h2>
<% end %>
<% if @orders.count == 0 %>
  <p>Немає жодного</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Статус</th>
      <th>Сума</th>
      <th>Автор</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <% # Problem: can't use this statement: order.order_status.name %>
        <td><%= OrderStatus.find(order.order_status_id).name %></td>
        <td><%= price_fmt(order.amount) %></td>
        <td><%= order.user.name %></td>
        <td><%= link_to 'Показати', order %></td>
        <td><%= link_to 'Редагувати', edit_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if current_user.is_pharmacist? %>
  <h2>Закриті</h2>
  <% not_prepared_orders = Order.not_prepared %>
  <% if not_prepared_orders.count == 0 %>
    <p>Немає жодного</p>
  <% else %>
  <table>
    <thead>
    <tr>
      <th>Номер</th>
      <th>Статус</th>
      <th>Сума</th>
      <th>Автор</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% not_prepared_orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <% # Problem: can't use this statement: order.order_status.name %>
        <td><%= OrderStatus.find(order.order_status_id).name %></td>
        <td><%= price_fmt(order.amount) %></td>
        <td><%= order.user.name %></td>
        <td><%= link_to 'Показати', order %></td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>

<br>

<%= link_to 'Створити замовлення', new_order_path %> |
<%= link_to 'Назад', :back %>
