<%= provide :page_title, "Замовлення №#{@order.id}" %>

<p>
  <strong>Номер:</strong>
  <%= @order.id %>
</p>
<p>
  <strong>Дата:</strong>
  <%= date_fmt(@order.created_at) %>
</p>

<p>
  <strong>Статус:</strong>
  <% # Problem: can't use this statement: @order.order_status %>
  <% # PG::UndefinedColumn: ERROR:  column order_statuses.order_id does not exist %>
  <%= OrderStatus.find(@order.order_status_id).name %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>Сума:</strong>
  <%= price_fmt(@order.amount) %>
</p>

<p>
  <strong>Коментар:</strong>
  <%= @order.comment %>
</p>
<hr>
<p>
  <strong>Список лік:</strong>

  <table>
    <thead>
    <tr>
      <th>Для дорослих/дітей</th>
      <th>Назва</th>
      <th>Номер рецепту</th>
      <th>Кількість</th>
      <th>Ціна</th>
      <th>Сума</th>
    </tr>
    </thead>

    <tbody>
    <% @order.order_details.each do |detail| %>
      <tr>
        <% # Problem: can't use this statement: detail.product.for_adult_children %>
        <% # Problem: can't use this statement: detail.product.name %>
        <% # PG::UndefinedColumn: ERROR:  column products.order_detail_id does not exist %>
        <% product = Product.find(detail.product_id) %>
        <td><%= for_whom_fmt(product.for_adult_children) %></td>
        <td><%= product.name %></td>
        <td><%= detail.prescription_number %></td>
        <td><%= detail.qty %></td>
        <td><%= price_fmt(detail.price) %></td>
        <td><%= price_fmt(detail.qty * detail.price) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>

<% if policy(@order).edit? %>
  <%= link_to 'Редагувати', edit_order_path(@order) %> |
<% end %>
<%= link_to 'Назад', orders_path %>
