<%= provide :page_title, "Замовлення №#{@order.id}" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Клієнт:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>Сума, грн:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Статус:</strong>
  <%= @order.order_status_id %>
</p>

<p>
  <strong>Ліки:</strong>

  <table>
    <thead>
    <tr>
      <th>Для дорослих/дітей</th>
      <th>Назва</th>
      <th>Кількість</th>
      <th>Ціна</th>
      <th>Сума</th>
    </tr>
    </thead>

    <tbody>
    <% @order.order_details.each do |detail| %>
      <tr>
        <td><%= detail.product_id %></td>
        <% # Problem: can't use this statement: detail.product.for_adult_children %>
        <td><%= detail.product_id %></td>
        <% # Problem: can't use this statement: detail.product.name %>
        <td><%= detail.qty %></td>
        <td><%= detail.price %></td>
        <td><%= detail.qty * detail.price %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
