<%= provide :page_title, @product.name %>

<p>
  <strong>Назва:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Опис:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Ціна:</strong>
  <%= price_fmt(@product.price) %>
</p>

<p>
  <strong>Потребує рецепту:</strong>
  <%= bool_fmt(@product.required_prescription) %>
</p>

<p>
  <strong>Для дорослих/дітей:</strong>
  <%= for_whom_fmt(@product.for_adult_children) %>
</p>

<% if policy(@product).edit? %>
  <%= link_to 'Редагувати', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Назад', products_path %>
